body{
	padding: 0px 0px 0px 0px;
	z-index: 0;
	font-size: 16px;
}

.jumbotron{
	padding: 70px 30px 70px 30px;
}

.row-content{
	margin: 0px auto;
	padding: 10px 0px 0px 0px;
	border-bottom: 1px ridge;
	min-height: 10px;
}


.img-circle {
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -moz-animation: fadein 3s; /* Firefox */
    -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 3s; /* Opera */
    animation: fadein 3s;
}

.bio {
		-webkit-animation: fadein 3s; /* Safari and Chrome */
		-moz-animation: fadein 3s; /* Firefox */
		-ms-animation: fadein 3s; /* Internet Explorer */
		-o-animation: fadein 3s; /* Opera */
		animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

.jumbotron {
	max-height: 300px;
}
